.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 520px;
    height: 145px;
    border: 3px solid #61dafb;
    border-radius: 9px;

}

.ink {

    background-color: #61dafb;
    color: #282c34;
    font-size: 30px;
    border-radius: 10px;
    width: 220px;
    height: 90px;
}

.disabled {
    background-color: #4eb4ce;
    color: #282c34;
    font-size: 30px;
    border-radius: 10px;
    width: 220px;
    height: 90px;
}
